extends base

block main
  .row.mt-4
    .col-sm-12
      .card
        .card-header
          strong Service&nbsp;
          small.text-muted Info
        .card-block
          form(action='/admin/services/' + service.id, method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-row
              .col-2
                label(for='category') Category
                select.form-control(name='category')
                  option(value="Dev tools", selected=(service.category === 'Dev tools')) Dev tools
                  option(value="Hosting & Domains", selected=(service.category === 'Hosting & Domains')) Hosting & Domains
                  option(value="Marketing & Sales", selected=(service.category === 'Marketing & Sales')) Marketing & Sales
                  option(value="Others", selected=(service.category === 'Others')) Others
                  option(value="Payment & Invoicing", selected=(service.category === 'Payment & Invoicing')) Payment & Invoicing
                  option(value="Project Management", selected=(service.category === 'Project Management')) Project Management
                  option(value="Support", selected=(service.category === 'Support')) Support
              .col-2
                label(for='Name') Name
                input.form-control(name='name', type='text', placeholder='Service name', value=service.name)
              .col-4
                label(for='logo') Logo
                input.form-control(name='logo', placeholder='Service\'s Logo url', value=service.logo)
              .col-4
                label(for='url') Url
                input.form-control(name='url', placeholder='Service\'s Url', value=service.url)

            .form-row.mt-4
              .col-2.offset-10.text-right
                button.btn.btn-primary Save Service
