extends ../base

block content
  section#signin.section
    .container
      .row.justify-content-center
        .col-lg-6
          .title.text-center
            h2
              | Reset&nbsp
              b Password
            span.title-border
              i.mdi.mdi-set-none
      .row.justify-content-center
        .col-lg-4
          include ../partials/flash
      .custom-form.mt-4.pt-4
        #message
        form#signin-form(method='post', name='signin-form')
          input(type='hidden', name='_csrf', value=_csrf)
          .row.justify-content-center
            .col-lg-4
              include ../partials/flash
          .row
            .col-md-4.offset-md-4
              .form-group
                label(for='password') New Password
                input#password.form-control(name='password', type='password', placeholder='New password...', autofocus, required)
          .row
            .col-md-4.offset-md-4
              .form-group
                label(for='confirm') Confirm Password
                input#password.form-control(name='confirm', type='password', placeholder='Confirm password...', required)
          .row
            .col-md-4.offset-md-4
              button#submit.submitBnt.btn.btn-primary.btn-custom.btn-block(type='submit') Change Password
              #simple-msg
