extends ../base

block content
  section#signup.section
    .container
      .row.justify-content-center
        .col-lg-6
          .title.text-center
            h2
              | Sign&nbsp
              b Up
            span.title-border
              i.mdi.mdi-set-none
      .custom-form.mt-4.pt-4
        #message
        form#signup-form(method='post', name='signup-form')
          input(type='hidden', name='_csrf', value=_csrf)
          .row
            .col-md-4.offset-md-4
              .form-group
                label(for='email') Email address
                input#email.form-control(name='email', type='text', placeholder='Your email...', required, autofocus)
          .row
            .col-md-4.offset-md-4
              .form-group
                label(for='password') Password
                input#password.form-control(name='password', type='password', placeholder='Your password...', required)
          .row
            .col-md-4.offset-md-4
              .form-group
                label(for='confirmPassword') Password
                input#confirmPassword.form-control(name='confirmPassword', type='password', placeholder='Confirm your password...', required)
          .row
            .col-md-4.offset-md-4
              button#submit.submitBnt.btn.btn-primary.btn-custom.btn-block(type='submit') Sign Up
              #simple-msg
