header#topnav.defaultscroll.fixed-top.sticky
  .container
    // Logo container
    div
      a.logo.text-uppercase(href='/')
        img.logo-light(src='linexon/images/logo-light.png', alt='', height='24')
        img.logo-dark(src='linexon/images/logo-dark.png', alt='', height='24')
    // End Logo container
    .menu-extras
      .menu-item
        // Mobile menu toggle
        a.navbar-toggle
          .lines
            span
            span
            span
        // End mobile menu toggle
    #navigation
      ul.navigation-menu
        if !user
          li(class=(title === 'Login') ? 'active' : undefined)
            a(href='/login') Signin
          li(class=(title === 'Create Account') ? 'active' : undefined)
            a(href='/signup') Signup
        else
          li(class=(title === 'Services') ? 'active' : undefined)
            a(href='services') Services
