extends layout

block content
  section#home.bg-home
    .bg-overlay
    .home-center
      .home-desc-center
        .container
          .row.justify-content-center
            .col-lg-10.text-center
              h6.home-title.text-white All your invoices in one place
              p.pt-4.home-sub-title.text-white.mx-auto
                | How much of your time is spent working on invoices?
                br
                | Stop wasting time. Invest it.
              .watch-video.pt-4
                a.video-play-icon.text-white(href='http://vimeo.com/99025203')
                  i.mdi.mdi-play.play-icon-circle.play.play-iconbar
                  span Watch The Video!

  section#features.section
    .container
      .row.justify-content-center
        .col-lg-6
          .title.text-center
            h2
              | Our&nbsp
              b Features
            span.title-border
              i.mdi.mdi-set-none
      .row.mt-4.pt-4.vertical-content
        .col-lg-6.mt-2
          div
            img.img-fluid.mx-auto.d-block(src='linexon/images/mockup1.png', alt='')
        .col-lg-6.mt-2.text-center
          .features-desc
            h2 This is Improve Your Marketing business
            .features-border.mx-auto.mt-3
            p.text-muted.mt-3
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            a(href='#')
              | Read more
              i.mdi.mdi-chevron-right
      .row.mt-5.vertical-content
        .col-lg-6.mt-2
          .features-desc.text-center
            h2 This Is Increase Your Marketing Performance
            .features-border.mx-auto.mt-3
            p.text-muted.mt-3
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            a(href='#')
              | Read more
              i.mdi.mdi-chevron-right
        .col-lg-6.mt-2
          div
            img.img-fluid.mx-auto.d-block(src='linexon/images/mockup2.png', alt='')

  section.pt-5.pb-5.bg-custom
    .container
      .row
        .col-md-9.text-white.critarea-desc.mt-3.mb-3
          | Become a part of Linexon bussiness community today
        .col-md-3.mt-3.mb-3.text-md-right
          a.btn.btn-outline-custom(href='#') Get Started

  section#service.section
    .container
      .row.justify-content-center
        .col-lg-6
          .title.text-center
            h2
              | Best&nbsp
              b Services
            span.title-border
              i.mdi.mdi-set-none
      .row.pt-4.mt-4
        .col-lg-4.mt-3
          .service-box.clearfix.p-4
            .service-icon.service-left
              i.mbri-code
            .service-desc.service-left
              h4 Digital Design
              p.text-muted.mb-0
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor dolore mag na aliqua.
        .col-lg-4.mt-3
          .service-box.clearfix.p-4
            .service-icon.service-left
              i.mbri-features
            .service-desc.service-left
              h4 Unlimited Colors
              p.text-muted.mb-0
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor dolore mag na aliqua.
        .col-lg-4.mt-3
          .service-box.clearfix.p-4
            .service-icon.service-left
              i.mbri-growing-chart
            .service-desc.service-left
              h4 Strategy Solutions
              p.text-muted.mb-0
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor dolore mag na aliqua.
      .row
        .col-lg-4.mt-3
          .service-box.clearfix.p-4
            .service-icon.service-left
              i.mbri-photos
            .service-desc.service-left
              h4 Awesome Support
              p.text-muted.mb-0
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor dolore mag na aliqua.
        .col-lg-4.mt-3
          .service-box.clearfix.p-4
            .service-icon.service-left
              i.mbri-responsive
            .service-desc.service-left
              h4 Truly Multipurpose
              p.text-muted.mb-0
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor dolore mag na aliqua.
        .col-lg-4.mt-3
          .service-box.clearfix.p-4
            .service-icon.service-left
              i.mbri-download
            .service-desc.service-left
              h4 Easy to customize
              p.text-muted.mb-0
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor dolore mag na aliqua.

  section#client.section.bg-light
    .container
      .row.justify-content-center
        .col-lg-6
          .title.text-center
            h2
              | Our&nbsp
              b Client
            span.title-border
              i.mdi.mdi-set-none
      .row.mt-4.pt-4.justify-content-center
        .col-lg-8
          .testimonial-box.text-center
            h1
              i.mdi.mdi-format-quote-open.text-muted
            h4
              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.
            .mt-3.mb-3
              img.mx-auto.d-block.rounded-circle.img-fluid(src='linexon/images/user-1.png', alt='testimonials-user')
            p.text-muted.testi-work.mb-1 - Landing page User
            p.text-muted
              span.mdi.mdi-star.text-warning
              span.mdi.mdi-star.text-warning
              span.mdi.mdi-star.text-warning
              span.mdi.mdi-star.text-warning
              span.mdi.mdi-star.text-warning
      .row.pt-4.mt-4
        .col-sm-12
          #clients-slider.owl-carousel.client-images.text-center
            .item
              div
                img(src='linexon/images/clients/1.png', alt='logo-img')
            .item
              div
                img(src='linexon/images/clients/2.png', alt='logo-img')
            .item
              div
                img(src='linexon/images/clients/3.png', alt='logo-img')
            .item
              div
                img(src='linexon/images/clients/4.png', alt='logo-img')
            .item
              div
                img(src='linexon/images/clients/5.png', alt='logo-img')
            .item
              div
                img(src='linexon/images/clients/6.png', alt='logo-img')
            .item
              div
                img(src='linexon/images/clients/7.png', alt='logo-img')
            .item
              div
                img(src='linexon/images/clients/1.png', alt='logo-img')
            .item
              div
                img(src='linexon/images/clients/2.png', alt='logo-img')
            .item
              div
                img(src='linexon/images/clients/3.png', alt='logo-img')
            .item
              div
                img(src='linexon/images/clients/4.png', alt='logo-img')
            .item
              div
                img(src='linexon/images/clients/5.png', alt='logo-img')
            .item
              div
                img(src='linexon/images/clients/6.png', alt='logo-img')
            .item
              div
                img(src='linexon/images/clients/7.png', alt='logo-img')

  section#team.section
    .container
      .row.justify-content-center
        .col-lg-6
          .title.text-center
            h2
              | Our&nbsp
              b Team
            span.title-border
              i.mdi.mdi-set-none
      .row.mt-4.pt-4
        .col-lg-3.mt-3
          .team-box.p-4
            .team-img
              img.mx-auto.d-block.rounded-circle(src='linexon/images/team/team-1.png', alt='', height='124')
            .team-desc.text-center.mt-5
              h6.team-name.text-uppercase.text-custom.mb-1 Sammie R. Provencal
              p.team-work.text-muted CEO/Founder
            ul.list-inline.team-social.mt-4.mb-0.text-center
              li.list-inline-item
                a(href='#')
                  i.mdi.mdi-facebook
              li.list-inline-item
                a(href='#')
                  i.mdi.mdi-google
              li.list-inline-item
                a(href='#')
                  i.mdi.mdi-twitter
        .col-lg-3.mt-3
          .team-box.p-4
            .team-img
              img.mx-auto.d-block.rounded-circle(src='linexon/images/team/team-2.png', alt='', height='124')
            .team-desc.text-center.mt-5
              h6.team-name.text-uppercase.text-custom.mb-1 Edith E. Wheeler
              p.team-work.text-muted CTO/Co-Founder
            ul.list-inline.team-social.mt-4.mb-0.text-center
              li.list-inline-item
                a(href='#')
                  i.mdi.mdi-facebook
              li.list-inline-item
                a(href='#')
                  i.mdi.mdi-google
              li.list-inline-item
                a(href='#')
                  i.mdi.mdi-twitter
        .col-lg-3.mt-3
          .team-box.p-4
            .team-img
              img.mx-auto.d-block.rounded-circle(src='linexon/images/team/team-3.png', alt='', height='124')
            .team-desc.text-center.mt-5
              h6.team-name.text-uppercase.text-custom.mb-1 Pauline T. Roach
              p.team-work.text-muted Web Designer
            ul.list-inline.team-social.mt-4.mb-0.text-center
              li.list-inline-item
                a(href='#')
                  i.mdi.mdi-facebook
              li.list-inline-item
                a(href='#')
                  i.mdi.mdi-google
              li.list-inline-item
                a(href='#')
                  i.mdi.mdi-twitter
        .col-lg-3.mt-3
          .team-box.p-4
            .team-img
              img.mx-auto.d-block.rounded-circle(src='linexon/images/team/team-4.png', alt='', height='124')
            .team-desc.text-center.mt-5
              h6.team-name.text-uppercase.text-custom.mb-1 Donald M. Laughlin
              p.team-work.text-muted Web Developer
            ul.list-inline.team-social.mt-4.mb-0.text-center
              li.list-inline-item
                a(href='#')
                  i.mdi.mdi-facebook
              li.list-inline-item
                a(href='#')
                  i.mdi.mdi-google
              li.list-inline-item
                a(href='#')
                  i.mdi.mdi-twitter

  section#pricing.section.bg-light
    .container
      .row.justify-content-center
        .col-lg-6
          .title.text-center
            h2
              | Our&nbsp
              b Pricing
            span.title-border
              i.mdi.mdi-set-none
      .row.mt-4.pt-4
        .col-lg-4.mt-3
          .pricing-box.bg-white.text-center.p-4
            .plan-title.mt-3.mb-4
              h5.mb-0 Free
            .plan-price
              h6
                | $0
                span /m
            .plan-features.mt-4.mb-4
              p Bandwidth: 1GB
              p Onlinespace: 50MB
              p Support: No
              p -
              p.mb-0 -
            .mb-4
              a.btn.btn-custom(href='#') Join Now
        .col-lg-4.mt-3
          .pricing-box.bg-white.text-center.p-4
            .plan-title.mt-3.mb-4
              h5.mb-0 Economy
            .plan-price
              h6
                | $19
                span /m
            .plan-features.mt-4.mb-4
              p Bandwidth: 1GB
              p Onlinespace: 50MB
              p Support: No
              p 5 Domain
              p.mb-0 -
            .mb-4
              a.btn.btn-custom(href='#') Join Now
        .col-lg-4.mt-3
          .pricing-box.bg-white.text-center.p-4
            .plan-title.mt-3.mb-4
              h5.mb-0 Deluxe
            .plan-price
              h6
                | $29
                span /m
            .plan-features.mt-4.mb-4
              p Bandwidth: 1GB
              p Onlinespace: 50MB
              p Support: No
              p 10 Domain
              p.mb-0 No Hidden Fees
            .mb-4
              a.btn.btn-custom(href='#') Join Now

  section#contact.section
    .container
      .row.justify-content-center
        .col-lg-6
          .title.text-center
            h2
              | Get In&nbsp
              b Touch
            span.title-border
              i.mdi.mdi-set-none
      .custom-form.mt-4.pt-4
        #message
        form#contact-form(method='post', action='php/contact.php', name='contact-form')
          .row
            .col-md-4
              .form-group
                label(for='name') Name
                input#name.form-control(name='name', type='text', placeholder='Your name...')
            .col-md-4
              .form-group
                label(for='email') Email address
                input#email.form-control(name='email', type='email', placeholder='Your email...')
            .col-md-4
              .form-group
                label(for='subject') Subject
                input#subject.form-control(type='text', placeholder='Your Subject..')
          .row
            .col-md-12
              .form-group
                label(for='comments') Message
                textarea#comments.form-control(name='comments', rows='4', placeholder='Your message...')
          .row
            .col-sm-12.text-right
              input#submit.submitBnt.btn.btn-primary.btn-custom(type='submit', name='send', value='Send Message')
              #simple-msg

  section.section.bg-light
    .container
      .row
        .col-lg-3
          p.text-uppercase.footer-title Help center
          ul.list-unstyled.company-sub-menu
            li
              a(href='#') Accounting
            li
              a(href='#') Billing
            li
              a(href='#') General Question
        .col-lg-2
          p.text-uppercase.footer-title about Linexon
          ul.list-unstyled.company-sub-menu
            li
              a(href='#') About Us
            li
              a(href='#') Press
            li
              a(href='#') Job Opening
            li
              a(href='#') Term
            li
              a(href='#') Privacy
        .col-lg-2
          p.text-uppercase.footer-title ressources
          ul.list-unstyled.company-sub-menu
            li
              a(href='#') Blog
            li
              a(href='#') Help Center
            li
              a(href='#') Academy
            li
              a(href='#') Video Tutorial
            li
              a(href='#') Monitoring Grader
            li
              a(href='#') Linexon API
        .col-lg-2
          p.text-uppercase.footer-title more info
          ul.list-unstyled.company-sub-menu
            li
              a(href='#') Pricing
            li
              a(href='#') For Marketing
            li
              a(href='#') For CEOs
            li
              a(href='#') For Agencies
            li
              a(href='#') Our Apps
        .col-lg-3
          p.text-uppercase.footer-title Contact Us
          .contact-us
            p Europe: +1 00 12 34 5
            p US: +1 67 89 01 23 4
            p support@Linexon.com
          ul.footer-icons.list-inline.mt-4
            li.list-inline-item
              a(href='#')
                i.mdi.mdi-facebook
            li.list-inline-item
              a(href='#')
                i.mdi.mdi-twitter
            li.list-inline-item
              a(href='#')
                i.mdi.mdi-google-plus
            li.list-inline-item
              a(href='#')
                i.mdi.mdi-apple
