.bg-home {
    background-image: url('../images/cabecera.jpg');
}

#topnav {
  &.navbar-light {
    .logo-light {
      display: none
    }
  }
}

#add-service {
  #add-service-form {

    .service-logo {
      box-sizing: border-box;
    }

    .service-logo.active {
      border: 2px solid #615fe6;
      border-radius: 3px;
    }

    #add-service-button:hover,
    .default-service-box:hover {
      cursor: pointer
    }
  }
}
