extends ../layout

block content
  .page-header
    h3 All Services

  h3 Add Service
  form.add-service-form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='selectedServiceId', id='selectedServiceId')
    .form-group
      label.col-sm-3.control-label(for='user') User
      .col-sm-7
        input.form-control(type='text', name='user', id='user', placeholder='User', required)
    .form-group
      label.col-sm-3.control-label(for='password') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.add-service-button.col-sm-3.btn.btn-primary(type='submit')
          | Add Service
    for service in services
      .form-check
        label.form-check-label
          input.services-list-radio.form-check-input(type='radio', name='serviceRadio', value=service.id, required)
          | &nbsp;#{service.name}