extends ../layout

block content
  .page-header
    a(href='/services/add') Add Service
    h3 All Services
    ul
      for service in services
        li.service-card
          span.service-name=service.name